@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
}

.shadow-primary {
  box-shadow: 0px 18.591px 60.362px 0px rgba(24, 24, 27, 0.06), 0px 0px 0px 1.074px rgba(24, 24, 27, 0.04);
}
